[submodule "ds-practice-problems"]
	path = use/problems
	url = https://github.com/Garnik645/ds-practice-problems
[submodule "use/problems"]
	path = use/problems
	url = https://github.com/Garnik645/ds-practice-problems
